$typing-duration: .35s;

.osk-bot-ui--animate {
  // FadeUp
  .osk-fadeUp-enter-active,
  .osk-fadeUp-leave-active {
    opacity: 1;
    transform: translate(0, 0);
    transition: opacity .15s linear, transform .2s ease-out;
  }

  .osk-fadeUp-enter-from,
  .osk-fadeUp-leave-to {
    transform: translate(0, 20px);
    opacity: 0;
  }

  // ScaleUp
  .osk-scaleUp-enter-active,
  .osk-scaleUp-leave-active {
    opacity: 1;
    transform: scale(1, 1);
    transition: opacity .1s linear, transform .2s ease-out;
  }

  .osk-scaleUp-enter-from,
  .osk-scaleUp-leave-to {
    transform: scale(0, 0);
    opacity: 0;
  }
}


// Typing indicator
@keyframes oskJump {
  from {
    transform: translateY(2px);
  }
  to {
    transform: translateY(-1px);
  }
}

.osk-msg-bubble__typing-indicator {
  span,
  &::before,
  &::after {
    transform: translateY(2px);
    animation: oskJump ease $typing-duration infinite alternate;
  }

  span {
    animation-delay: calc($typing-duration / 2);
  }

  &::after {
    animation-delay: $typing-duration;
  }
}
